.container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    background: #fff;
    height: max-content;
}

.filter-section, .options {
    margin-top: 15px;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

select {
    padding: 5px;
    margin-right: 15px;
}

.options input {
    margin-right: 5px;
}

.notes {
    background-color: #eaf4ff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

    .notes ul {
        list-style-type: none;
        padding: 0;
    }

    .notes li {
        margin: 5px 0;
    }

.pass {
    color: green;
    font-weight: bold;
}

.fail {
    color: red;
    font-weight: bold;
}

.container h3 {
    font-weight: bold;
    font-size: 18px;
    padding: 13px 30px;
    background-color: #012E67;
    color: #FFF;
}

.result-form {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

    .result-form .tilte-result th, .result-form td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ccc;
    }

    .result-form .tilte-result th {
        background-color: #f4b400;
        color: #fff;
    }

    .result-form tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    .result-form tbody tr:nth-child(even) {
        background-color: #fff;
    }

.summary {
    margin-top: 20px;
    font-weight: bold;
}
