@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/Content/Admin/Dashboard.css" />
<h1>Quản lý số liệu</h1>
<br />
<section class="cards">
    <div class="card">
        <h3>Số lượng sinh viên</h3>
        <p>@ViewBag.TotalUsers</p>
    </div>

    <div class="card">
        <h3>Số lượng giảng viên</h3>
        <p>@ViewBag.TotalAdmins</p>
    </div>

    <div class="card">
        <h3>Doanh thu</h3>
        <p>25,000,000 VNĐ</p>
    </div>
</section>

