@model ManagerStudent.Models.LOPHOCPHAN

@{
    ViewBag.Title = "EditLHP";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Edit Course</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MaLHP)

    @Html.LabelFor(model => model.TenLHP)
    @Html.TextBoxFor(model => model.TenLHP)

    <button type="submit">Save</button>
}


