@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
    ViewBag.Title = "Home Page";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/UserPage/Function/Function-design-index.css">
    <link rel="stylesheet" href="~/Content/UserPage/Function/index.css">
</head>
<nav id="header"></nav>
<main>
    <section class="content">
        <div class="container">
            <!-- News Column -->
            <div class="news-column">
                <h3>Tin tức</h3>
                <ul>
                    <li><a href="#">Thông báo 1</a> <span>22/10/2024</span></li>
                    <li><a href="#">Thông báo 2</a> <span>21/10/2024</span></li>
                    <li><a href="#">Thông báo 3</a> <span>20/10/2024</span></li>
                    <li><a href="#">Thông báo 4</a> <span>19/10/2024</span></li>
                    <li><a href="#">Thông báo 5</a> <span>18/10/2024</span></li>
                </ul>
            </div>

            <!-- General Notifications Column -->
            <div class="notification-column">
                <h3>Thông báo chung</h3>
                <ul>
                    <li><a href="#">Thông báo về việc kiểm tra phân lớp nội trú</a> <span>21/10/2024</span></li>
                    <li><a href="#">Thông báo về việc khám sức khỏe tân sinh viên khóa 2024</a> <span>20/10/2024</span></li>
                    <li><a href="#">Thông báo bảo hiểm y tế cho sinh viên</a> <span>19/10/2024</span></li>
                    <li><a href="#">Thông báo đăng ký thực tập tốt nghiệp</a> <span>18/10/2024</span></li>
                    <li><a href="#">Thông báo về lễ tốt nghiệp đợt 2 năm 2024</a> <span>17/10/2024</span></li>
                </ul>
            </div>
        </div>
    </section>
</main>
<nav id="footer"></nav>