
@{
    ViewBag.Title = "ProgramEdu";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/Content/UserPage/Function/Program-Edu.css">
<div id="functionMenu"></div>
<section class="content">
    <h3>Chương trình đào tạo</h3>
    <div class="container">
        <!-- Box displaying 'Công nghệ phần mềm' -->
        <div class="program-title">
            Ngành Học ???
        </div>

        <!-- Table for Chương trình đào tạo -->
        <!-- HK1 -->
        <table>
            <thead>
                <tr>
                    <th colspan="10">Học Kỳ 1</th>
                </tr>
                <tr>
                    <th>TT</th>
                    <th>MÃ HỌC PHẦN</th>
                    <th>TÊN HỌC PHẦN</th>
                    <th>SỐ TC</th>
                    <th>SỐ TIẾT</th>
                    <th>LT</th>
                    <th>TH</th>
                    <th>HỌC PHẦN TIÊN QUYẾT</th>
                    <th>HỌC PHẦN HỌC TRƯỚC</th>
                    <th>KHOA/BỘ MÔN</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Mã số học phần</td>
                    <td>Tên môn</td>
                    <td>số tín chỉ</td>
                    <td>Số tiết</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Tên khoa</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">Cộng học phần Bắt Buộc:</td>
                    <td colspan="7"></td>
                </tr>
                <!-- Bổ sung thêm các dòng khác tương tự -->
            </tbody>
        </table>
        <!-- HK2 -->
        <table>
            <thead>
                <tr>
                    <th colspan="10">Học Kỳ 2</th>
                </tr>
                <tr>
                    <th>TT</th>
                    <th>MÃ HỌC PHẦN</th>
                    <th>TÊN HỌC PHẦN</th>
                    <th>SỐ TC</th>
                    <th>SỐ TIẾT</th>
                    <th>LT</th>
                    <th>TH</th>
                    <th>HỌC PHẦN TIÊN QUYẾT</th>
                    <th>HỌC PHẦN HỌC TRƯỚC</th>
                    <th>KHOA/BỘ MÔN</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Mã số học phần</td>
                    <td>Tên môn</td>
                    <td>số tín chỉ</td>
                    <td>Số tiết</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Tên khoa</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">Cộng học phần Bắt Buộc:</td>
                    <td colspan="7"></td>
                </tr>
                <!-- Bổ sung thêm các dòng khác tương tự -->
            </tbody>
        </table>
        <!-- HK3 -->
        <table>
            <thead>
                <tr>
                    <th colspan="10">Học Kỳ 3</th>
                </tr>
                <tr>
                    <th>TT</th>
                    <th>MÃ HỌC PHẦN</th>
                    <th>TÊN HỌC PHẦN</th>
                    <th>SỐ TC</th>
                    <th>SỐ TIẾT</th>
                    <th>LT</th>
                    <th>TH</th>
                    <th>HỌC PHẦN TIÊN QUYẾT</th>
                    <th>HỌC PHẦN HỌC TRƯỚC</th>
                    <th>KHOA/BỘ MÔN</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Mã số học phần</td>
                    <td>Tên môn</td>
                    <td>số tín chỉ</td>
                    <td>Số tiết</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Tên khoa</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">Cộng học phần Bắt Buộc:</td>
                    <td colspan="7"></td>
                </tr>
                <!-- Bổ sung thêm các dòng khác tương tự -->
            </tbody>
        </table>
    </div>
</section>

